<!-- Header START -->

<header class="header">
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav ">
          <li><a href="http://blog.miniasp.com/">首頁</a></li>
          <li><a href="http://blog.miniasp.com/archive.aspx">文章彙整</a></li>
          <li><a href="http://blog.miniasp.com/contact.aspx">與我聯絡</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://blog.miniasp.com/Account/login.aspx">登入</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="title-wrapper">
    <div class="container">

      <img (click)="changeTitle($event)" [title]="title" [src]="logourl" [attr.data-title]="title" class="pull-left logo" alt="{{ title }}">
      <button (click)="changeTitle2($event.altKey)"></button>
      <div class="pull-left">
      <h1><a [href]="url">{{title}}</a></h1>
        <h3 [ngStyle]="getStyle()"
        [ngClass]="{'highlight': counter%2==0}">記載著 Will 在網路世界的學習心得與技術分享{{counter}}</h3>
        <h3 [style.color]="'red'" [style.font-size]="(12+counter)+'px'"
        [class.highlight]="counter%2==0"
        (mouseover)="showIcon=false" (mouseleave)="showIcon=true">記載著 Will 在網路世界的學習心得與技術分享{{counter}}</h3>
      </div>

      <app-social-icons *ngIf="counter%2==0" ></app-social-icons>
      <app-social-icons *ngIf="showIcon"></app-social-icons>
    </div>
  </div>
</header>
<!-- Header END -->
